---
title: Alignment
date: 2014-05-05 16:30 UTC
category: General
layout: articles-layout
---

<p>Alignment is...</p>

SPLIT_SUMMARY_BEFORE_THIS

<p>important. <a href="../alignment-project/">Click here to find out why.</a></p>
