---
title: Estimating Projects
date: 2014-03-03 06:37 UTC
category: General
layout: articles-layout
---

<p>I've sat in on a few IPMs here at 8th Light. One of the things that has really intrigued me 
is coming up with project estimates. A project estimate a lot like a forecast, you're making an educated guess
to an outcome in the future with data you have in the present.</p>

SPLIT_SUMMARY_BEFORE_THIS

<p>The goal with estimates is to be as accurate as possible, especially when client resources are 
on the line. So what can you do to increase your chances of a good estimate?</p>

<h4>Have Three Different Mindsets</h4>

<p>Estimations are based on points over three different scenarios - 
optimistic, realistic, pessimistic. Ryan, a craftsman at 8th Light gave this awesome tip of
thinking in three different mindsets. By deliberately and honestly walking through each scenario, 
you can increase the accuracy of your estimate.</p>

<p>Lets take an optimistic approach for an example. Let's
say your iteration requires you to clean up the styling on a page. An optimistic mindset may think, 
"The codebase is probably well written and I'll be able to figure things out relatively quickly with a simple glance." 
On the flip side, a pessmistic mindset may think, "I'm willing to bet that the code is absolutely terribly, I'm pretty sure
I should just scrap everything and start over."</p>

<p>I know the above examples are a bit extreme, but I think you guys get the idea.</p>

<h4>Two Heads Are Better</h4>
<p>We pair programming pretty regularly here at 8th Light, this pairing segways into IPMs. Having an 
extra head opens up diaglogue to break down the problem from different angles. It's important that the two of 
you provide constant feedback and keep the flow going.</p>

<h4>Talk It Through</h4>
<p>This final tip piggybacks off the second. If you happen to be lacking a second opinion, a good way to 
mitigate that is by throughly talking through your thought process in front of the client. Doing this helps flesh out your 
thoughts as well as bring confidence to the client, because you hand holding them through the process.</p>

<p>That's it for now.</p>

