---
title: Customizing Middleman
date: 2014-02-14 13:57 UTC
category: Tutorial
image: test-image.jpg
layout: articles-layout

---

<blockquote>
	I like to tinker... Which is why I couldn't roll out a vanilla version of Middleman.
	<span>-Me</span>
</blockquote>

<p>For as long as I can remember I have always tweaked </p>

