---
title: Deploying Middleman To Git
date: 2014-02-12
category: example
image: test-image.jpg
layout: articles-layout
---


SPLIT_SUMMARY_BEFORE_THIS

<p>Watch closely as I try to explain the dark arts of Middleman deployment to Github. Testing to see how it looks when it wraps around the container.</p>
