---
title: Customizing Middleman
date: 2014-02-14 13:57 UTC
category: Tutorial
image: customizing-middleman.jpg
layout: articles-layout
---

<p>The intention of this blog post is not to be an exhaustive tutorial on customizing Middleman, instead I'll cover a few things I customized to fit my needs.</p>

SPLIT_SUMMARY_BEFORE_THIS

<h4>Custom Loops</h4>
<p>If you view the homepage of my blog you'll notice that the most recent post takes up a large chunk of the real estate with a large image and the title encapsulated within a red box. Below that you'll find two recent blog posts (at the time of writing this there is only one).</p>


# Show image with arrows pointing to elemenets discussed in previous paragraph.
# Using front matter to assign images (maybe even show what the data structure looks like)
# Custom query to iterate over project category
