---
title: Alignment
date: 2014-05-05 16:30 UTC
category: General
layout: articles-layout
---

<p>Alignment is... SPLIT_SUMMARY_BEFORE_THIS important. <a href="../alignment-project/">Clicky</a></p>



<p></p>
