---
title: The First Week
date: 2014-02-14 04:36 UTC
category: General
image: test-image.jpg
layout: articles-layout
---


<blockquote id="start">
	"First Day Quote Here"
	<span>-Nelsol Batalla</span>
</blockquote>

<p>Re-worked.</p>