---
title: The First Week
date: 2014-02-14 04:36 UTC
category: General
image: test-image.jpg
layout: articles-layout
---


<blockquote id="start">
	"I'm writing about my first week at 8th Light four weeks late. Please excuse my truancy."
	<span>-Nelsol Batalla</span>
</blockquote>


<p>Part of being a resident apprentice at 8th Light is to write blog posts on things you've learned. Writing has always been a challenge for me, collecting my thoughts and organizing them in a sensible manner has not come easy. Which would explain why I'm now writing this blog post at 11:10pm on a Thursday night.</p>

<p>If I'm jumping all over the place, you'll have to bear with me, the last four weeks have coalesced in my mind, separating the first week will be tricky.</p>

<p>My first day at 8th Light was filled with a mixed bag of emotions, mostly excitement. Sounds cliche, but it's been a long two months since graduating DBC, and I've been itching to get back into the swing of things.</p>

<p>As an apprentice at 8th Light you are assigned to a mentor. Stephanie Briones is my mentor, I feel extremely lucky and priviledge to have been assigned to her. Stephanie if you are reading this, you're awesome! <em>That should get me a few brownie points</em>. In all seriousness, I believe having a great relationship with your mentor is pivotal to having a successful apprenticehip, I'm happy to say that is the case.</p>

<p>So what have I been working on? My first assignment was to read <strong>Thinking With Type</strong>, a book on how to use fonts, I had to follow up this reading assignment with an accompanying project site outlining what I learned, you can view that <a href="/typography-deux/">here</a>. I also had to build a blog which you are currently viewing now.</p>

<p>I apologize for the lack of knowledge sharing in this post. In my upcoming posts, I'll talk a bit about type, and how I customized this blog using Middleman. Until next time.</p>