body {
  background: #faf6f1;
  font: normal 100% "adobe-caslon-pro";
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h2 {
  color: #ff401a;
  font: normal 1.7em "futura-pt";
  font-weight: 900;
  text-transform: uppercase;
}

h2 a {
  color: #ff401a;
  text-decoration: none;
}

p {
  color: #7f7f7d;
  font: normal 1.2em "adobe-caslon-pro";
  font-weight: 400;
  margin: 1.25em 0 0 0;
}

blockquote {
  color: #4a4a4c;
  font: normal 1em "news-gothic-std";
  font-weight: 900;
  margin: 1.25em 0 0 0;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.row {
  clear: both;
  padding: 1.875em 0;
}

.column {
  float: left;
  margin: 0 0 0 2%;
}
  .column:first-child {
    margin-left: 0;
  }

.one-third {
  width: 32%;
}

.logo {
  background: url('../images/logo-bg.png') no-repeat;
  color: #fff;
  height: 200px;
  margin: 30px auto;
  padding: 65px 0;
  text-align: center;
  width: 200px;
}
  .logo h1 {
    font: normal 35px "pupcat";
    font-weight: 100;
  }
  .logo p {
    color: #fff;
    font: normal 18px "adobe-caslon-pro";
    font-weight: 400;
    margin: 0;
  }

.profile {
  background: #eff0ef;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}
  .holder {
    background: #fff;
    border: 1px solid #d0d5cb;
    border-radius: 3px;
    padding: 3%;
  }
    .holder h3 {
      color: #4a4a4c;
      font: normal 0.8em "news-gothic-std";
      font-weight: 900;
      text-transform: uppercase;
    }

.recent-projects li {
  background: #f5f0e9;
  margin: 0.625em 0 0 0;
  padding: 5px 10px;
}
.recent-projects ul li h3 {
  color: #989694;
  font: normal 1.5em "refrigerator-deluxe";
  text-transform: uppercase;
}
  .recent-projects h3 a {
    color: #989694;
    text-decoration: none;
  }

.article-page {
  padding: 0 20%;
}
  .article-page h2 {
    font-size: 3.2em;
  }
  .article-page blockquote {
    font-size: 1.6em;
    margin: 0.55em 0 0 0;
  }
  .article-page p {
    font-size: 1.5em;
  }

/* Global */
.marker {
  color: #e0ddd9;
  display: block;
  font: normal 0.7em "news-gothic-std";
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
