---
layout: projects-layout
---

<%= partial "header" %>

    <div class="sidebar">
        Sidebar
    </div>

    <div class="main-wrapper">
        <div class="mast-head">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="geometric-sans text-shadow">Geometric Sans</h1>
                    <span class="font-name">Refrigerator Deluxe</span>
                </div>

                <div class="row clearfix">
                    <div class="four-column-fluid column">
                        <h2>Characteristics</h2>

                        <p>Geometric sans-serifs have a simple straight strokes that are circular or square in nature.</p>
                    </div>

                    <div class="four-column-fluid column reverse-float">
                        <blockquote>"Some sans-serif types are built around geometric forms. In Futura the "Os" are perfect circles and the peaks for "A" and "M" are sharp triangles. <cite>-Thinking With Type</cite></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <nav class="clearfix">
                    <a class="prev-link column" href="slab-serif.html">&larr; Prev <span>Slab Serif</span></a>
                    <a class="next-link column reverse-float right" href="transitional-sans.html">Next &rarr; <span>Transitional Sans</span></a>
                </nav>
            </div>
        </div>

        <div class="separator"></div>

        <div class="container">
            <div class="row clearfix">
                <div class="four-columns column">
                    <h2>Font Pairings</h2>
                    <!-- <p>Font pairings for <strong>Times New Roman</strong>.</p> -->
                </div>

                <div class="eight-columns column reverse-float">
                    <ul class="font-pairing">
                        <li class="clearfix"><span class="font-pair-name">Letter Gothic STD</span> <h3 class="geometric-sans-first-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Inconsolata</span> <h3 class="geometric-sans-second-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Prestige Elite</span> <h3 class="geometric-sans-third-pair">Aa</h3></li>
                    </ul>
                </div>
            </div>
        </div>  

        <%= partial "font-tips" %> 

        <%= partial "sitemap" %>
    </div>
    
<%= partial "footer" %>