---
layout: projects-layout
---

<%= partial "header" %>

    <div class="sidebar">
        Sidebar
    </div>

    <div class="main-wrapper">
        <div class="mast-head">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="humanist-sans text-shadow">Humanist Sans</h1>
                    <span class="font-name">Tenso</span>
                </div>

                <div class="row clearfix">
                    <div class="four-column-fluid column">
                        <h2>Characteristics</h2>

                        <p>Humanist typefaces share some characteristics to their serif counterparts. Compared to other sans-serifs these typefaces are calligraphic in nature, and typically have larger stroke contrast compared to other sans-serif.</p>
                    </div>

                    <div class="four-column-fluid column reverse-float">
                        <blockquote>"Sans-serif typefaces became the common in the twentieth century. Gill Sans, designed by Eric Gill, has humanist characteristics." <cite>-Thinking With Type</cite></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <nav class="clearfix">
                    <a class="prev-link column" href="transitional-sans.html">&larr; Prev <span>Transitional Sans</span></a>
                    <!-- <a class="next-link column reverse-float right" href="humanist-sans.html">Next &rarr; <span>Humanist Sans</span></a> -->
                </nav>
            </div>
        </div>

        <div class="separator"></div>

        <div class="container">
            <div class="row clearfix">
                <div class="four-columns column">
                    <h2>Font Pairings</h2>
                    <!-- <p>Font pairings for <strong>Times New Roman</strong>.</p> -->
                </div>

                <div class="eight-columns column reverse-float">
                    <ul class="font-pairing">
                        <li class="clearfix"><span class="font-pair-name">Crete</span> <h3 class="humanist-sans-first-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Lemonde Courrier</span> <h3 class="humanist-sans-second-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Kulturista</span> <h3 class="humanist-sans-third-pair">Aa</h3></li>
                    </ul>
                </div>
            </div>  
        </div>  

        <%= partial "font-tips" %> 

        <%= partial "sitemap" %>
    </div>
    
<%= partial "footer" %>