---
layout: projects-layout
---

<%= partial "header" %>

    <div class="sidebar">
        Sidebar
    </div>

    <div class="main-wrapper">
        <div class="mast-head">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="humanist text-shadow">Humanist</h1>
                    <span class="font-name">Times New Roman</span>
                </div>

                <div class="row clearfix">
                    <div class="four-column-fluid column">
                        <h2>Characteristics</h2>

                        <p>Humanist typefaces emulate classical calligraphy. A few defining characteristics include sloping crossbars on the lowercase "e", small x-height, and minor contrast between strokes.</p>
                    </div>

                    <div class="four-column-fluid column reverse-float">
                        <blockquote>"The roman typefaces of the fifteenth and sixteenth centuries emulated classical calligraphy." <cite>-Thinking With Type</cite></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <nav class="clearfix">
                    <!-- <a class="prev-link column" href="#">&larr; Prev <span>Serif</span></a> -->
                    <a class="next-link column reverse-float right" href="transitional.html">Next &rarr; <span>Transitional</span></a>
                </nav>
            </div>
        </div>

        <div class="separator"></div>

        <div class="container">
            <div class="row clearfix">
                <div class="four-columns column">
                    <h2>Font Pairings</h2>
                    <!-- <p>Font pairings for <strong>Times New Roman</strong>.</p> -->
                </div>

                <div class="eight-columns column reverse-float">
                    <ul class="font-pairing">
                        <li class="clearfix"><span class="font-pair-name">Proxima Nova</span> <h3 class="humanist-first-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Adelle Sans</span> <h3 class="humanist-second-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Effra</span> <h3 class="humanist-third-pair">Aa</h3></li>
                    </ul>
                </div>
            </div>
        </div>  

        <%= partial "font-tips" %> 

        <%= partial "sitemap" %>
    </div>
    
<%= partial "footer" %>