---
layout: projects-layout
---

<%= partial "header" %>

    <div class="sidebar">
        Sidebar
    </div>

    <div class="main-wrapper">
        <div class="mast-head">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="modern text-shadow">Modern</h1>
                    <span class="font-name">Lust</span>
                </div>

                <div class="row clearfix">
                    <div class="four-column-fluid column">
                        <h2>Characteristics</h2>

                        <p>Modern typefaces have radical characteristics that are relatively easy to distinguish. Note the large contrast between thin and thick strokes, straight serifs, and vertical axis.</p>
                    </div>

                    <div class="four-column-fluid column reverse-float">
                        <blockquote>"The modern typefaces designed in the late eighteenth and early nineteenth centuries are radically abstract." <cite>-Thinking With Type</cite></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <nav class="clearfix">
                    <a class="prev-link column" href="transitional.html">&larr; Prev <span>Transitional</span></a>
                    <a class="next-link column reverse-float right" href="slab-serif.html">Next &rarr; <span>Slab Serif</span></a>
                </nav>
            </div>
        </div>

        <div class="separator"></div>

        <div class="container">
            <div class="row clearfix">
                <div class="four-columns column">
                    <h2>Font Pairings</h2>
                    <!-- <p>Font pairings for <strong>Times New Roman</strong>.</p> -->
                </div>

                <div class="eight-columns column reverse-float">
                    <ul class="font-pairing">
                        <li class="clearfix"><span class="font-pair-name">Aktiv Grotesk</span> <h3 class="modern-first-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">FF Dagny</span> <h3 class="modern-second-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Ratio</span> <h3 class="modern-third-pair">Aa</h3></li>
                    </ul>
                </div>
            </div>
        </div>  

        <%= partial "font-tips" %> 

        <%= partial "sitemap" %>
    </div>
    
<%= partial "footer" %>