---
layout: projects-layout
---

<%= partial "header" %>

    <div class="sidebar">
        Sidebar
    </div>

    <div class="main-wrapper">
        <div class="mast-head">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="slab-serif text-shadow">Slab Serif</h1>
                    <span class="font-name">HWT Slab Antique</span>
                </div>

                <div class="row clearfix">
                    <div class="four-column-fluid column">
                        <h2>Characteristics</h2>

                        <p>Slab serifs have little contrast of thick or thin strokes. Other distinguishable characteristics include a large difference in uppercase and lowecase letters, thick squarish serifs, and vertical stress</p>
                    </div>

                    <div class="four-column-fluid column reverse-float">
                        <blockquote>"Numerous bold and decorative typeface were introduced in the nineteenth centruy for use in advertising." <cite>-Thinking With Type</cite></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <nav class="clearfix">
                    <a class="prev-link column" href="modern.html">&larr; Prev <span>Modern</span></a>
                    <a class="next-link column reverse-float right" href="geometric-sans-serif.html">Next &rarr; <span>Geometric Sans</span></a>
                </nav>
            </div>
        </div>

        <div class="separator"></div>

        <div class="container">
            <div class="row clearfix">
                <div class="four-columns column">
                    <h2>Font Pairings</h2>
                    <!-- <p>Font pairings for <strong>Times New Roman</strong>.</p> -->
                </div>

                <div class="eight-columns column reverse-float">
                    <ul class="font-pairing">
                        <li class="clearfix"><span class="font-pair-name">Rooney Sans</span> <h3 class="slab-serif-first-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">JAF Bernino Sans</span> <h3 class="slab-serif-second-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Nimbus Sans</span> <h3 class="slab-serif-third-pair">Aa</h3></li>
                    </ul>
                </div>
            </div>
        </div>  

        <%= partial "font-tips" %> 

        <%= partial "sitemap" %>
    </div>
    
<%= partial "footer" %>