---
layout: projects-layout
---

<%= partial "header" %>

    <div class="sidebar">
        Sidebar
    </div>

    <div class="main-wrapper">
        <div class="mast-head">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="transitional-sans text-shadow">Transitional Sans</h1>
                    <span class="font-name">JAF Facit</span>
                </div>

                <div class="row clearfix">
                    <div class="four-column-fluid column">
                        <h2>Characteristics</h2>

                        <p>Transitional sans-serif share some characteristics to their serif counterparts. A few distinguishable characters include, little or no variation between thin and thick strokes and a larger x-height.</p>
                    </div>

                    <div class="four-column-fluid column reverse-float">
                        <blockquote>"Helvetica, designed by Max Miedinger in 1957, is one of the world's most widely used typefaces." <cite>-Thinking With Type</cite></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <nav class="clearfix">
                    <a class="prev-link column" href="geometric-sans-serif.html">&larr; Prev <span>Geometric Sans</span></a>
                    <a class="next-link column reverse-float right" href="humanist-sans.html">Next &rarr; <span>Humanist Sans</span></a>
                </nav>
            </div>
        </div>

        <div class="separator"></div>

        <div class="container">
            <div class="row clearfix">
                <div class="four-columns column">
                    <h2>Font Pairings</h2>
                    <!-- <p>Font pairings for <strong>Times New Roman</strong>.</p> -->
                </div>

                <div class="eight-columns column reverse-float">
                    <ul class="font-pairing">
                        <li class="clearfix"><span class="font-pair-name">Jubilat</span> <h3 class="transitional-sans-first-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Abril</span> <h3 class="transitional-sans-second-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Freight Micro</span> <h3 class="transitional-sans-third-pair">Aa</h3></li>
                    </ul>
                </div>
            </div>
        </div>  

        <%= partial "font-tips" %> 

        <%= partial "sitemap" %>
    </div>
    
<%= partial "footer" %>