---
layout: projects-layout
---

<%= partial "header" %>

    <div class="sidebar">
        Sidebar
    </div>

    <div class="main-wrapper">
        <div class="mast-head">
            <div class="container">
                <div class="row clearfix">
                    <h1 class="transitional text-shadow">Transitional</h1>
                    <span class="font-name">Museo</span>
                </div>

                <div class="row clearfix">
                    <div class="four-column-fluid column">
                        <h2>Characteristics</h2>

                        <p>Transitional typefaces have disntinguished features which include sharp serifs and more vertical axis when compared to humanist typefaces. To further distinguish from humanist typefaces, the strokes have a greater contrast between thin and thick.</p>
                    </div>

                    <div class="four-column-fluid column reverse-float">
                        <blockquote>"During it's introduction in the mid-eighteenth century, their shapr form and high contrast were considered shocking." <cite>-Thinking With Type</cite></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row clearfix">
                <nav class="clearfix">
                    <a class="prev-link column" href="index.html">&larr; Prev <span>Humanist</span></a>
                    <a class="next-link column reverse-float right" href="modern.html">Next &rarr; <span>Modern</span></a>
                </nav>
            </div>
        </div>

        <div class="separator"></div>

        <div class="container">
            <div class="row clearfix">
                <div class="four-columns column">
                    <h2>Font Pairings</h2>
                    <!-- <p>Font pairings for <strong>Times New Roman</strong>.</p> -->
                </div>

                <div class="eight-columns column reverse-float">
                    <ul class="font-pairing">
                        <li class="clearfix"><span class="font-pair-name">FF Meta Web Pro</span> <h3 class="transitional-first-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Bree</span> <h3 class="transitional-second-pair">Aa</h3></li>
                        <li class="clearfix"><span class="font-pair-name">Franklin Gothic</span> <h3 class="transitional-third-pair">Aa</h3></li>
                    </ul>
                </div>
            </div>
        </div>  

        <%= partial "font-tips" %> 

        <%= partial "sitemap" %>
    </div>
    
<%= partial "footer" %>