---
pageable: true
per_page: 10
---
<div class="sidebar">
  <img src="#">
  <p>Hi, my name is</p>
  <p><strong>Nelsol Batalla!</strong></p>
  <p>I'm a UX Apprentice</p>
  <p>at 8th Light.</p>

  <div class="project-list">
    <h3>Projects</h3>

    <ul>
      <li>Tyopgraphy</li>
      <li>Positioning</li>
    </ul>
  </div>
</div>

<div class="main">
  <div class="articles">
    <h3>Blog</h3>
    <span class="date">February 25, 2014</span>
    <h2>Customizing Middleman</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget volutpat diam, eget tristique nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    <span class="separator"></span>
  </div>

  <div class="articles">
    <h3>Blog</h3>
    <span class="date">February 25, 2014</span>
    <h2>Customizing Middleman</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget volutpat diam, eget tristique nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    <span class="separator"></span>
  </div>
</div>
