---
layout: projects-layout
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Self Assessment Project</title>
    <%= stylesheet_link_tag 'normalize' %>
    <link href="./stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="row row-padding welcome ">
      <div class="container">
        <h1><span>Nelsol Batalla</span> SELF EVALUATION</h1>
      </div>
    </div>

    <div class="row row-padding">
      <div class="container">
        <div class="one-third column">
          One-third one
        </div>
        <div class="one-third column">
          One-third two
        </div>
        <div class="one-third column">
          One-third three
        </div>
      </div>
    </div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="./js/main.js"></script>	
	</body>
</html>
